html, body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.banner {
    width: 100%;
    height: auto; /* or a fixed height if needed */
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center;
}

.banner img {
    display: block;
    width: 95%;
    height: auto; /* maintains aspect ratio */
}
.banner h1 {
    margin: 0;
    font-size: 3rem;
}

.banner p {
    margin: 0;
    font-size: 1.5rem;
}

.container {
    width: 92%;
    height: 100%; /* Maximum width for large screens */
    margin: 0 auto; /* Center the container */
    margin-top : 100px;
    padding: 20px; /* Add padding inside the container */
    background-color: #535359; /* White background for content */
    border-radius: 8px; /* Rounded corners */

    justify-content: center; /* horizontal centering */
    align-items: center;
}

.subcontainer{
    width: 92%;
    height: 100%; /* Maximum width for large screens */
    margin-top : 100px;
    padding: 20px; /* Add padding inside the container */
    background-color: #535359; /* White background for content */
    border-radius: 8px; /* Rounded corners */

    justify-content: center; /* horizontal centering */
    align-items: center;
}
.subcontainer img {
    display: block;
    width: 95%;
    height: auto; /* maintains aspect ratio */
    align-self: center;
}

.subcontainer p {
    margin: 0;
    font-size: 1.5rem;
    align-self: center;
}