html, body {
    background-color: #535359;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.banner {
    width: 100%;
    height: auto; /* or a fixed height if needed */
    overflow: hidden;
}

.banner img {
    display: block;
    width: 100%;
    height: auto; /* maintains aspect ratio */
}
.banner h1 {
    margin: 0;
    font-size: 3rem;
}

.banner p {
    margin: 0;
    font-size: 1.5rem;
}